DGLBhabhaGcnReNewestweight10/1259341.Training110.out
.git/objects/pack/pack-222c06540613f0f491dc4ebc0fa31d4fc1f6a013.pack
.git/objects/pack/pack-bd7360f5bd13503bad80913047cfec867b7eb94e.pack
DGLBhabhaGcnReNewestweight6/1256581.Training.out
DGLBhabhaGcnReNewestweight6/1256115.Training.out
DGLBhabhaGcnReNewestweight6/1256614.Training.out
DGLBhabhaGcnReNewestweight6/1258217.Training.out
DGLBhabhaGcnReNewestweight6/1256371.Training.out
DGLBhabhaGcnReNewestweight6/1258236.Training110.out
DGLBhabhaGcnReNewestweight6/1256113.Training.out
DGLBhabhaGcnReNewestweight6/1256402.Training.out
DGLBhabhaGcnReNewestweight6/1258235.Training.out
DGLBhabhaGcnReNewestweight6/1256110.Training.out
DGLBhabhaGcnReNewestweight6/1256112.Training.out
DGLBhabhaGcnReNewestweight7N2/1291635.Training.out
DGLBhabhaGcnReNewestweight7N2/1292777.Training.out
DGLBhabhaGcnReNewestweight7N2/1292173.Training.out
DGLBhabhaGcnReNewestweight7N2/1292681.Training.out
DGLBhabhaGcnReNewestweight7N2/1292284.Training.out
DGLBhabhaGcnReNewestweight7N2/1291776.Training.out
DGLBhabhaGcnReNewestweight7N2/1292193.Training.out
practice_dgl_networkx/subedge_index180d_10lay_ro0.png
practice_dgl_networkx/subedge_index180d_42lay_ro0.png
practice_dgl_networkx/.ipynb_checkpoints/practice_dgl_networkx-checkpoint.ipynb
practice_dgl_networkx/practice_dgl_networkx.ipynb
DGLBhabhaGcnReNewestweight7N/1281953.Training.out
DGLBhabhaGcnReNewestweight7N/1277519.Training.out
DGLBhabhaGcnReNewestweight7N/runs/Apr30_21-46-37_gpu020.ihep.ac.cn/events.out.tfevents.1651326397.gpu020.ihep.ac.cn.208206.0
DGLBhabhaGcnReNewestweight7N/1281954.Training.out
DGLBhabhaGcnReNewestweight7N/1281952.Training.out
DGLBhabhaGcnReNewestweight7N/1283567.Training.out
DGLBhabhaGcnReNewestweight7N/scratch/Apr28_21-37-23_cmsgpu001.ihep.ac.cn/events.out.tfevents.1651153043.cmsgpu001.ihep.ac.cn.81214.0
DGLBhabhaGcnReNewestweight7N/1281945.Training.out
DGLBhabhaGcnReNewestweight7N/1281955.Training.out
DGLBhabhaGcnReNewestweight9/1259339.Training110.out
MDCgraph/subedge_index_layers0_to_41_realpos.png
DGLBhabhaGcnReNewestweight8/1259338.Training110.out
